
<f:layout name="Default"/>

<f:section name="main">

	<f:render partial="Order/StepTrace" arguments="{step2:1}"/>

	<f:flashMessages renderMode="div" class="label label-important"/>

    <f:form method="post" action="saveBilling" name="order" object="{order}" class="form-horizontal">
		<div id="invoiceData">
			<legend>Rechnungsdaten</legend>
			<div class="control-group">
				<label class="control-label" for="firstName">
					<f:translate key="tx_dlvoucher_domain_model_order.first_name"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="firstName" id="firstName"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="lastName">
					<f:translate key="tx_dlvoucher_domain_model_order.last_name"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="lastName" id="lastName"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="street">
					<f:translate key="tx_dlvoucher_domain_model_order.street"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="street" id="street"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="zip">
					<f:translate key="tx_dlvoucher_domain_model_order.zip"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="zip" id="zip"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="city">
					<f:translate key="tx_dlvoucher_domain_model_order.city"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="city" id="city"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="email">
					<f:translate key="tx_dlvoucher_domain_model_order.email"/>
					<span class="required">*</span>
				</label>
				<div class="controls">
					<f:form.textfield property="email" id="email"/>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label for="agbAccepted"  class="checkbox">
						<f:form.checkbox property="agbAccepted" value="1" id="agbAccepted"/>
						Ich habe die
						<f:link.page target="blank" pageUid="voucheragb">AGBs</f:link.page>
						 gelesen und akzeptiert.
						<span class="required">*</span>
					</label>
				</div>
			</div>

			<div class="stepForward">
				<f:form.submit value="Weiter" class="btn"/>
			</div>
		</div>
	</f:form>

	<f:form method="post" action="voucher">
		<div class="stepBack">
			<f:form.submit value="Zurück" class="btn"/>
		</div>
	</f:form>

</f:section>