{namespace yag=Tx_Yag_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <f:render partial="Order/StepTrace" arguments="{step1:1}"/>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <f:form method="post" action="create" name="newOrder" object="{newOrder}">
        <div>

                <div id="voucherCreator">
                    <div class="formular dl-voucher-whitebox">

                        <label for="offer">
                            <f:translate key="tx_dlvoucher_domain_model_order.offer"/>
                        </label><br/>
                        <f:form.radio name="amountType" value="offer" />
                        <f:form.select property="offer" options="{offers}" optionValueField="uid"
                                       optionLabelField="name"/>
                        <br/>

                        <label for="amount">
                            <f:translate key="tx_dlvoucher_domain_model_order.amount"/>
                        </label><br/>
                        <f:form.radio name="amountType" value="amount" />
                        <f:form.textfield property="amount"/>
                        <br/><br />


                        <label for="fromName">
                            <f:translate key="tx_dlvoucher_domain_model_order.from_name"/>
                        </label><br/>
                        <f:form.textfield property="fromName"/>
                        <br/>

                        <label for="toName">
                            <f:translate key="tx_dlvoucher_domain_model_order.to_name"/>
                        </label><br/>
                        <f:form.textfield property="toName"/>
                        <br/>

                        <label for="info">
                            <f:translate key="tx_dlvoucher_domain_model_order.info"/>
                        </label><br/>
                        <f:form.textarea property="info" cols="21" rows="4"/>
                        <br/>

                        <label for="printAmount">
                            <f:form.checkbox property="printAmount" value="1" id="printAmount"/>
                            <f:translate key="tx_dlvoucher_domain_model_order.print_amount"/>
                            <span class="required">*</span>
                        </label><br/>

                    </div>

                    <div class="imageSelector">
                        <f:for each="{voucherAlbum.items}" as="image">
                            <div class="voucherImage">
                                <label for="image-{image.uid}">
                                    <div>
                                        <yag:image item="{image}" resolutionName="thumb"/>
                                    </div>
                                    <div>
                                        <f:form.radio property="voucherImage" value="{image.uid}"
                                                      id="image-{image.uid}"/>
                                        {image.title}
                                    </div>
                                </label>
                            </div>
                        </f:for>
                    </div>
                    <div style="clear:both"></div>
                </div>




        </div>

    </div>
    </f:form>
</f:section>