{namespace yag=Tx_Yag_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<h1>New Order</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form method="post" action="step2"  name="newOrder" object="{newOrder}">
    <div>
        <div class="formular">
            <f:render partial="Order/FormFields" arguments="{offers:offers}"/>
        </div>

        <div class="imageSelector">
            <f:for each="{voucherAlbum.items}" as="image">
                <div class="voucherImage">
                    <label for="image-{image.uid}">
                        <div><yag:image item="{image}" resolutionName="thumb" /></div>
                        <div><f:form.radio property="voucherImage" value="{image.uid}" id="image-{image.uid}"/> {image.title}</div>
                    </label>

                </div>

            </f:for>
        </div>

    </div>
    <div>
        <f:form.submit value="Weiter" />
    </div>

</f:form>
</f:section>