<f:layout name="Default"/>

<f:section name="main">

	<f:render partial="Order/StepTrace" arguments="{step3:1}"/>

    <f:flashMessages/>

	<div class="formular dl-voucher-whitebox">
		<h3>Gutschein</h3>

		<div class="row-fluid">
			<f:if condition="{order.offerIsSelected}">
				<f:then>
					<div class="span4">für</div>
					<div class="span8">{order.offer.name}</div>
				</f:then>
				<f:else>
					<div class="span4">in Höhe von</div>
					<div class="span8">{order.amount} €</div>
				</f:else>
			</f:if>
		</div>

		<dl>
			<dt>von:</dt> <dd>{order.fromName}</dd>
			<dt>für:</dt> <dd>{order.toName}</dd>
			<dt>Text:</dt><dd>{order.info}</dd>
		</dl>

		<h3>Rechnungsadresse</h3>

		<address>
			<strong>{order.fullname}</strong><br>
			{order.street}<br>
			{order.zip} {order.city}<br>
		</address>

	</div>


	<div class="voucherPreview">
		<iframe src="{order.voucherPreviewWebPath}" width="100%"style="height:100%" align="right">
		[Ihr browser unterstützt die Anzeige von iFrames nicht - bitte laden Sie sich die Vorschau des Gutscheins <a href="../latin9.pdf">mit diesem Link</a>
		herunter.</iframe>
	</div>

	<div style="clear:both"></div>

	<f:form method="post" action="billing">
		<div class="stepBack">
			<f:form.submit value="Zurück" class="btn"/>
		</div>
	</f:form>
	
	<f:form method="post" action="create">
		<div class="stepForward" style="margin:0; margin-top:-25px">
			<f:form.submit value="Gutschein bestellen" class="btn"/>
		</div>
	</f:form>

</f:section>