<f:layout name="Default" />

<f:section name="main">
<h1>Rechnungsdaten</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form method="post" action="create"  name="newCustomer" object="{newCustomer}">
    <div>
        <div class="page2Formular">

            <div style="float:left;">
                <label for="firstName">
                    <f:translate key="tx_dlvoucher_domain_model_customer.firstName" /><span class="required">*</span>
                </label><br />
                    <f:form.textfield property="firstName" id="firstName"/>
            </div>
            <div>
                <label for="lastName">
                    <f:translate key="tx_dlvoucher_domain_model_customer.lastName" /><span class="required">*</span>
                </label><br />
                    <f:form.textfield property="lastName" id="lastName"/>
            </div>
            
            <label for="address">
                <f:translate key="tx_dlvoucher_domain_model_customer.address" /><span class="required">*</span>
            </label><br />
                <f:form.textfield property="address" id="address" size="47"/><br />

            <div style="float:left;">
                <label for="zip">
                    <f:translate key="tx_dlvoucher_domain_model_customer.zip" /><span class="required">*</span>
                </label><br />
                    <f:form.textfield property="zip" id="zip"/><br />
            </div>
            <div>
                <label for="city">
                    <f:translate key="tx_dlvoucher_domain_model_customer.city" /><span class="required">*</span>
                </label><br />
                    <f:form.textfield property="city" id="city"/><br />
            </div>

            <label for="email">
                <f:translate key="tx_dlvoucher_domain_model_customer.email" /><span class="required">*</span>
            </label><br />
                <f:form.textfield property="email" id="email" size="47"/><br />
        </div>
    </div>
    <div>
        <f:form.submit value="Gutschein bestellen" />
    </div>

</f:form>
</f:section>