{namespace yag=Tx_Yag_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <f:render partial="Order/StepTrace" arguments="{step1:1}"/>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

	<script>
		$(document).ready(function() {
			$('#offerSelector').click(function() {
				$('#offer').click();
			});

			$('#amountText').click(function() {
				$('#amount').click();
			});

		});
	</script>

    <f:form method="post" action="saveVoucher" name="order" object="{order}">
        <fieldset>
			<div id="voucherCreator">
				<div class="formular">

					<label for="offer" class="radio">
						<f:form.radio property="amountType" value="offer" checked="{order.offerIsSelected}" id="offer" class="input-xlarge"/>
						<f:translate key="tx_dlvoucher_domain_model_order.offer"/>
					</label>

					<f:form.select property="offer" options="{offers}" optionValueField="uid" optionLabelField="nameAndPrice" class="input-xlarge" id="offerSelector"/>

					<label for="amount"class="radio">
						<f:form.radio property="amountType" value="amount" checked="{order.amountIsSelected}" id="amount" class="input-xlarge"/>
						<f:translate key="tx_dlvoucher_domain_model_order.amount"/>
					</label>

					<f:form.textfield property="amount" class="input-xlarge" id="amountText"/>

					<label for="printAmount" class="checkbox">
						<f:form.checkbox property="printAmount" value="1" id="printAmount"/>
						<f:translate key="tx_dlvoucher_domain_model_order.print_amount"/>
					</label>

					<label for="fromName"><f:translate key="tx_dlvoucher_domain_model_order.from_name"/></label>
					<f:form.textfield property="fromName" id="fromName" class="input-xlarge"/>

					<label for="toName"><f:translate key="tx_dlvoucher_domain_model_order.to_name"/></label>
					<f:form.textfield property="toName" id="toname" class="input-xlarge"/>

					<label for="info"><f:translate key="tx_dlvoucher_domain_model_order.info"/></label>
					<f:form.textarea property="info" cols="36" rows="1" id="info" class="input-xlarge"/>

					<label for="sendVoucher" class="radio">
						<f:form.radio property="receiveVoucher" value="send" id="sendVoucher"/>
						<f:translate key="tx_dlvoucher_domain_model_order.send_Voucher"/>
					</label>

					<label for="printVoucher" class="radio">
						<f:form.radio property="receiveVoucher" value="print" id="printVoucher"/>
						<f:translate key="tx_dlvoucher_domain_model_order.print_Voucher"/>
					</label>
				</div>

				<div class="imageSelector">
					<f:for each="{voucherAlbum.items}" as="image">
						<div class="voucherImage">
							<label for="image-{image.uid}">
								<div>
									<yag:image item="{image}" resolutionName="thumb"/>
								</div>
								<div>
									<f:form.radio property="voucherImage" value="{image.uid}"
												  id="image-{image.uid}" class="voucher-image-radio"/>
									{image.title}
								</div>
							</label>
						</div>
					</f:for>
				</div>


				<div class="stepForward">
					<f:form.submit value="Weiter" class="btn"/>
				</div>
				<div style="clear:both"></div>
			</div>
        </div>
	</fieldset>
    </f:form>
</f:section>