<label for="name">
	<f:translate key="tx_dlvoucher_domain_model_offer.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_dlvoucher_domain_model_offer.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="type">
	<f:translate key="tx_dlvoucher_domain_model_offer.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="price">
	<f:translate key="tx_dlvoucher_domain_model_offer.price" />
</label><br />
	<f:form.textfield property="price" /><br />