<table class="tx-dl-voucher" >
	<tr>
		<td>
			<f:translate key="tx_dlvoucher_domain_model_offer.name" />
		</td>
		<td>
			{offer.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlvoucher_domain_model_offer.description" />
		</td>
		<td>
			{offer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlvoucher_domain_model_offer.type" />
		</td>
		<td>
			{offer.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlvoucher_domain_model_offer.price" />
		</td>
		<td>
			{offer.price}
		</td>
	</tr>
</table>