#content {
    border: 1px solid #4D4D4D;
    background-color: #FCFCFC;
    height: 465px;
    width: 935px;
    margin-left: 5px;
    top: 5px;
    padding-top: 5px;
    overflow: hidden;
}

input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

.tx-dl-voucher table {
    border-collapse:separate;
    border-spacing:10px;
}

.tx-dl-voucher table th {
    font-weight:bold;
}

.tx-dl-voucher table td {
    vertical-align:top;
}

.formular {
    float:left;
    width:390px;
    margin-right:10px;
}

.dl-voucher-whitebox {
    border: 1px solid #4D4D4D;
    background-color: #FCFCFC;
    color: black;
    padding: 10px;
    height: 385px;
    width: 370px;
}

.imageSelector {
    float:left;
    width:510px;
}

.voucherPreview {
    float:left;
    width:525px;
    height:395px;
}

.voucherImage {
    padding-top: 3px;
    width:170px;
    float:left;
}


.voucher-image-radio {
    margin:0 !important;
    line-height: normal;
    vertical-align:inherit;

}

.required {
    color:red;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px 5px;
}

#stepTrace li {
    display: inline;
    padding-right: 30px;
}

#stepTrace li.selectedStep {
    font-weight: bold;
}

.stepForward {
    float:right;
    padding: 0 7px 0 0;
}

.stepBackward {
    float:left;
    padding: 0 20px 15px 0;
}
