input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

.tx-dl-voucher table {
    border-collapse:separate;
    border-spacing:10px;
}

.tx-dl-voucher table th {
    font-weight:bold;
}

.tx-dl-voucher table td {
    vertical-align:top;
}

.formular {
    float:left;
    width:390px;
    margin-right:10px;
}

.dl-voucher-whitebox {
    border: 1px solid #4D4D4D;
    background-color: #FCFCFC;
    color: black;
    padding: 10px;
}

.imageSelector{
    float:left;
    width:525px;
}

.voucherImage {
    width:175px;
    height: 150px;
    float:left;
}

.required {
    color:red;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px 5px;
}

#stepTrace li {
    display: inline;
    padding-right: 30px;
}

#stepTrace li.selectedStep {
    font-weight: bold;
}