<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Offer</h1>

<f:flashMessages />

<table  class="tx_dlvoucher" >
	<tr>
		<th><f:translate key="tx_dlvoucher_domain_model_offer.name" /></th>
		<th><f:translate key="tx_dlvoucher_domain_model_offer.description" /></th>
		<th><f:translate key="tx_dlvoucher_domain_model_offer.type" /></th>
		<th><f:translate key="tx_dlvoucher_domain_model_offer.price" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{offers}" as="offer">
		<tr>
			<td><f:link.action action="show" arguments="{offer : offer}"> {offer.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{offer : offer}"> {offer.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{offer : offer}"> {offer.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{offer : offer}"> {offer.price}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{offer : offer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{offer : offer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Offer</f:link.action>
</f:section>