<label for="fromName">
	<f:translate key="tx_dlvoucher_domain_model_order.defaultOffer" />
</label><br />
	<f:form.select property="defaultOffer" options="{offers}" optionValueField="uid" optionLabelField="name"/><br />


<label for="fromName">
	<f:translate key="tx_dlvoucher_domain_model_order.from_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fromName" /><br />

<label for="toName">
	<f:translate key="tx_dlvoucher_domain_model_order.to_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="toName" /><br />

<label for="info">
	<f:translate key="tx_dlvoucher_domain_model_order.info" />
</label><br />
	<f:form.textarea property="info" cols="30" rows="5" /><br />
