input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

.tx-dl-voucher table {
    border-collapse:separate;
    border-spacing:10px;
}

.tx-dl-voucher table th {
    font-weight:bold;
}

.tx-dl-voucher table td {
    vertical-align:top;
}

.page1Formular {
    float:left;
    width:400px;
}

.page1ImageSelector{
    float:left;
    width:400px;
}

.voucherImage {
    width:50%;
    float:left;
}

.required {
    color:red;
}